.features {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.features-header {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500
}

.features-text {
    font-size: 16px;
    line-height: 1.2;
}
